.jsde-explorer {
    font-family: sans-serif;
    display: flex;
    gap: 16px;
    height: 100%;
}
.jsde-panel {
    border: 1px solid;
    position: relative;
    overflow-x: clip;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.jsde-panel-body {
    overflow-y: scroll;
    flex-grow: 1;
    height: 0;
}
.jsde-panel__close {
    position: absolute;
    margin: 4px;
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    &::after {
        content: '\2715';
    }
}
.jsde-panel__header {
    margin: 4px;
    height: 24px;
    font-size: 24px;
    position: sticky;
    top: 0;
}