.jsde-form {
    padding: 8px;
    display: table;
    border-collapse: separate;
    border-spacing: 8px
}

.jsde-field {
    display: table-row;
}

.jsde-field__label {
    display: table-cell;
    max-width: 200px;
}

.jsde-field__label--ref {
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: pointer;
}

.jsde-field__input {
    display: table-cell;
}

.jsde-relationship {
    padding: 8px 0;
}