.jsde-panel {
    &:first-child {
        .jsde-panel__close {
            display: none;
        }
    }
    &:last-child {
        flex-grow: 1;
    }
    .jsde-table:not(:only-child) {
        .jsde-table-row {
            .jsde-table-cell {
                &:not(:first-child){
                    display: none;
                }
            }
        }
        .jsde-table-head {
            th {
                &:not(:first-child){
                    display: none;
                }
            }
        }
    }
}