.jsde-table-head {
    color: white;
    background-color: black;
    position: sticky;
    top: 0;
}

.jsde-table-row {
    &:hover {
        background-color: gray;
    }
}

.jsde-table-cell {
    padding: 8px;
}